In [1]:
# Importer les librairies nécessaires  
import matplotlib.pyplot as plt # visualiser des données sous formes de graphiques
import numpy as np # manipuler des matrices ou tableaux 
import pandas as pd # analyse, nettoyage et préparation des données
import seaborn as sns # création de tracés statistiques communs
from sklearn.preprocessing import StandardScaler,Normalizer,MinMaxScaler
#scikit-learn
import sklearn

In [2]:
# Importation dataset
#data = pd.read_csv('bank-full.csv', sep=';') // Premier dataset avec 45.000 observations
data = pd.read_csv('bank.csv', sep = ";")
data.rename(columns={'deposit': 'y'}, inplace=True)
#data = pd.read_csv('bank-full.csv', sep = ";")

data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [3]:
# default:
# day : c’est une variable quantitative continue avec des valeurs variant de 1 à 31
# month:
# duration:
# previous:
# compaign:
# pdays
# poutcome:  
# y

In [4]:
data['job'].unique()
for obj in data['job'].unique():
    print(obj," occ : ",data[data["job"]==obj].shape[0])

unemployed  occ :  128
services  occ :  417
management  occ :  969
blue-collar  occ :  946
self-employed  occ :  183
technician  occ :  768
entrepreneur  occ :  168
admin.  occ :  478
student  occ :  84
housemaid  occ :  112
retired  occ :  230
unknown  occ :  38

In [5]:
data.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [6]:
datax = data.copy()

In [7]:
# Variables independantes
X = data.iloc[:, :-1].values

# Variables dependantes
y = data.iloc[:, -1].values

In [8]:
# Encoding the Independent Variable
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from  sklearn.compose import ColumnTransformer

# Variable independante
labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(y)

# Variables dependantes a coder en 0 et 1

# Variable default
labelencoder_X_default = LabelEncoder()
X[:, 4] = labelencoder_X_default.fit_transform(X[:, 4])

# Variable housing
labelencoder_X_housing = LabelEncoder()
X[:, 6] = labelencoder_X_housing.fit_transform(X[:, 6])

# Variable loan
labelencoder_X_loan = LabelEncoder()
X[:, 7] = labelencoder_X_loan.fit_transform(X[:, 7])

# Variables a coder en plusieurs
# Utilisation OneHotEncoder() et columnTransform
labelencoder_X_job = LabelEncoder()
X[:, 1] = labelencoder_X_job.fit_transform(X[:, 1])

# Utilisation OneHotEncoder() et columnTransform
labelencoder_X_marital = LabelEncoder()
X[:, 2] = labelencoder_X_marital.fit_transform(X[:, 2])

labelencoder_X_education = LabelEncoder()
X[:, 3] = labelencoder_X_education.fit_transform(X[:, 3])

labelencoder_X_contact = LabelEncoder()
X[:, 8] = labelencoder_X_education.fit_transform(X[:, 8])

labelencoder_X_month = LabelEncoder()
X[:, 10] = labelencoder_X_education.fit_transform(X[:, 10])

labelencoder_X_poutcome = LabelEncoder()
X[:, 15] = labelencoder_X_education.fit_transform(X[:, 15])

#t = X.select_dtypes(exclude=['int64'])

columtransform =  ColumnTransformer(
    [('one_hot_encoder', OneHotEncoder(), [1, 2, 3, 8, 10, 15])],    # The column numbers to be transformed (here is [0] but can be [0, 1, 3])
    remainder='passthrough'                         # Leave the rest of the columns untouched
)

X = np.array(columtransform.fit_transform(X), dtype=np.float)

In [20]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

#print (X_train)

# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [10]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [26]:
# Initialiser le reseau
classifier = Sequential() #permet d'initialiser le reseau de neurone

#On ajoute une couche d'entrée et une couche cachée 
classifier.add(Dense(units=8, activation="relu", 
            kernel_initializer="uniform", input_dim=48))

# deuxieme couche cachée
classifier.add(Dense(units=4, activation="relu", 
            kernel_initializer="uniform"))

# Couche de sortie
classifier.add(Dense(units=1, activation="sigmoid", 
            kernel_initializer="uniform"))

In [27]:
# Compiler le reseau le neurone
classifier.compile(optimizer='adam', 
 loss="binary_crossentropy", metrics=["accuracy"])

In [28]:
# resume du model
#print(classifier.summary())

In [29]:
# Entrainer le reseaux de neurone
classifier.fit(X_train, y_train, batch_size=10, epochs=10)

#batch_size=10:taille du lot, une taille de 10 observations

Epoch 1/10
362/362 [==============================] - 1s 3ms/step - loss: 0.4412 - accuracy: 0.8852
Epoch 2/10
362/362 [==============================] - 1s 3ms/step - loss: 0.2525 - accuracy: 0.8869
Epoch 3/10
362/362 [==============================] - 1s 3ms/step - loss: 0.2359 - accuracy: 0.8869
Epoch 4/10
362/362 [==============================] - 1s 3ms/step - loss: 0.2268 - accuracy: 0.8869
Epoch 5/10
362/362 [==============================] - 1s 3ms/step - loss: 0.2216 - accuracy: 0.8869
Epoch 6/10
362/362 [==============================] - 1s 3ms/step - loss: 0.2186 - accuracy: 0.8902
Epoch 7/10
362/362 [==============================] - 1s 3ms/step - loss: 0.2150 - accuracy: 0.9060
Epoch 8/10
362/362 [==============================] - 1s 3ms/step - loss: 0.2127 - accuracy: 0.9079
Epoch 9/10
362/362 [==============================] - 1s 3ms/step - loss: 0.2106 - accuracy: 0.9112
Epoch 10/10
362/362 [==============================] - 1s 3ms/step - loss: 0.2086 - accuracy: 0.9121

In [42]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)

# Classifier avec un seuil de 50%
y_pred = (y_pred > 0.5)

In [45]:
y_pred.shape

(905, 1)

In [44]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)
#print(f1_score(y_test, y_pred, average='micro'))

[[767  26]
 [ 60  52]]

In [47]:
(767 + 52)/905

0.9049723756906077

In [ ]:
#  Notre clasifier va se généraliser sur de nouvelles données 
# la banque pourra s'en servir pour de nouvelles prédictions